.header {
    .logo {
        display: inline-block;
        margin-top: 22px;
        height: 57px;
        width: 148px;
        max-width: none;
    
        img {
            max-width: 100%;
        }
    }

    .navigation {
        display: inline-block;

        ul {
            list-style: none;

            li {
                font-family: 'Simplon-Medium-Norm';
                color: #01426a;
                display: inline-block;
                line-height: 100px;
                height: 100px;
                font-size: 18px;
                font-size: 1.8rem;
                opacity: 1;
                border-bottom: 4px solid #fff;
                transition: border-color .5s linear;
                text-transform: uppercase;
                font-weight: 200;

                &:hover {
                    color: #01426a;
                    border-color: #59bec9;
                    background: #fff;
                }

                a {
                    color: #01426a;
                    padding: 0;
                    margin: 0 20px;
                    text-decoration: none;
                }
            }
        }
    }

    .cta {
        font-family: 'Simplon-Light';
        display: inline-block;
        background-color: #fa5a36;
        color: #fff;
        border-radius: 15px;
        line-height: 30px;
        padding: 0 30px;
        font-size: 14px;
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-bottom: 12px;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all .25s ease-in-out;
        font-weight: 700;
        margin-top: 33px;
    }
}